In [40]:
import numpy as np
import pandas as pd

In [46]:
#from excel sheet 
df=pd.read_excel("Temp Plot (1).xlsx")
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,Date,Rainfall (inch),NaN,BH1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,0.9 m,1.8 m,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Temperature,Temperature,NaN,NaN,NaN,NaN,Air Temp,Air Temp
3,NaN,NaN,NaN,NaN,°C Temp,°C Temp,NaN,NaN,NaN,NaN,F,C
4,NaN,2016-10-03 00:00:00,0,NaN,25.567,26.171,NaN,NaN,NaN,NaN,75.9,24.388889

In [48]:
#converted to csv
df2= pd.read_csv("Temp Plot (1).csv")
df2.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,Date,Rainfall (inch),NaN,BH1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,0.9 m,1.8 m,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Temperature,Temperature,NaN,NaN,NaN,NaN,Air Temp,Air Temp
3,NaN,NaN,NaN,NaN,°C Temp,°C Temp,NaN,NaN,NaN,NaN,F,C
4,NaN,10/3/2016,0,NaN,25.567,26.171,NaN,NaN,NaN,NaN,75.9,24.3888888888889
5,NaN,10/4/2016,0,NaN,25.713,26.1,NaN,NaN,NaN,NaN,78.6,25.8888888888889
6,NaN,10/5/2016,0,NaN,25.946,26.1,NaN,NaN,NaN,NaN,82.6,28.1111111111111
7,NaN,10/6/2016,0.06,NaN,26.446,26.158,NaN,NaN,NaN,NaN,82.8,28.2222222222222
8,NaN,10/7/2016,0.39,NaN,26.663,26.3,NaN,NaN,NaN,NaN,72.3,22.3888888888889
9,NaN,10/8/2016,0,NaN,25.85,26.258,NaN,NaN,NaN,NaN,65.6,18.6666666666667

### Manually Cleaned and Implemented the dataset

In [42]:
df=pd.read_csv("Temp Plot(2).csv",header=0)
df.head()

,Date,Rainfall(inch),Temperature(0.9m),Temperature(1.8m),Air Temp F,Air Temp C
0,10/3/2016,0.00,25.567,26.171,75.9,24.388889
1,10/4/2016,0.00,25.713,26.100,78.6,25.888889
2,10/5/2016,0.06,25.946,26.100,82.6,28.111111
3,10/6/2016,0.39,26.446,26.158,82.8,28.222222
4,10/7/2016,0.00,26.663,26.300,72.3,22.388889

In [43]:
df.shape

(1165, 6)

In [44]:
df.isnull().sum()

Date                   0
Rainfall(inch)         1
Temperature(0.9m)     12
Temperature(1.8m)    353
Air Temp F            11
Air Temp C            11
dtype: int64